.form {
    display: flex;
}

.form select {
    width: 3.5rem;
    margin-right: 1rem;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    outline: none;
    border: none;
}

.form input {
    flex: 1;
    font-size: 1.25rem;
    font-weight: lighter;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
}

.form button {
    width: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    outline: none;
    border: none;
}

.form button:hover {
    background: #3bc9db;
}